{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home:main' %}"><h2>Stand Blog<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.resolver_match.url_name == "main" %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home:main' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == "about us" %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home:main' %}">About Us</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == "article_list" %}active{% endif %}">
                    <a class="nav-link" href="{% url 'blog:article_list' %}">Blog Entries</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == "contact us" %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home:main' %}">Contact Us</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == "main" %}active{% endif %}">
                    {% if request.user.is_authenticated %}
                        <div class="d-flex">
                            {% if user.profile.profile_picture %}
                                <span class="mt-1"><img src="{{ user.profile.profile_picture.url }}" alt=""
                                                        height="25px"
                                                        width="auto" style="border-radius: 100%"></span>
                            {% else %}
                                <span class="mt-1"><img src="{% static 'images/icons/prof.jpg' %}" alt=""
                                                        height="25px"
                                                        width="auto" style="border-radius: 100%"></span>
                            {% endif %}
                            {% if request.user.first_name %}
                                <a class="nav-link" href="">{{ request.user.first_name }}</a>
                            {% else %}
                                <a class="nav-link" href="">{{ request.user.username }}</a>
                            {% endif %}
                            <a href="{% url 'accounts:logout' %}"><span
                                    class="badge badge-danger m-1 mt-auto">logout</span></a>
                        </div>
                    {% else %}
                        <div class="d-flex">
                            <a class="nav-link" href="{% url 'accounts:login' %}">LOGIN</a><span
                                class="mt-2">/</span>
                            <a class="nav-link" href="{% url 'accounts:signup' %}">Sing Up</a>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>